.sobre__engenheiro{
    margin-right: 3rem;
    text-align: center;
}

.sobre__titulo{
    color: #e5e5e5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.sobre__descricao{
    color: #282828;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

@media screen and (max-width: 765px){
    .sobre__engenheiro{
        margin-right: 0;
    }

    .sobre__titulo{
        text-align: center;
        margin-top: 1.5rem;
    }

    .sobre__descricao{
        text-align: center;
    }
}