.sobre{
    background: #e09f3d;
    border: 20px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    height:750px;
    margin: auto;
    width:calc(100% -30px);
}

.sobre__img{
    height: 650px;
    margin: auto 40px;
    position: relative;
    width: 90%;
}

.sobre__img-conteudo{
    max-height: 60vh;
    max-width: 100vw;
    height: auto;
    width: auto;
}

@media screen and (max-width: 1200px){
    .sobre{
        flex-direction: column;
        max-height: fit-content;
        height: auto;
    }

    .sobre__img{
        height: fit-content;
        margin: auto;
        max-width: calc(100% - 40px);
        width: auto;
    }

    .sobre__img-conteudo{
        height: auto;
        margin-top: 20px;
        max-width: 80vw;
        width: auto;
    }
}
